* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f9;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.taskList {
  max-height: 700px;
  overflow-x: auto;
}

h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
}

p {
  width: 100%;
  text-align: center;
}

button {
  min-width: max-content;
  padding: 12px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: #007bff;
}

button:hover {
  background-color: #0056b3;
}

li button {
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskInput_container {
  width: 100%;
  display: flex;
  margin: 1rem 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

